#container {
    width: 500px;
    height: 500px; 
    border: 1px solid black;
    margin-top: 20px;
}

.row {
    display: flex;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
    /* aspect ratio property maintains dimensions of each element
    and adjusts them according to the size of the parent container*/
    aspect-ratio: 1 / 1;
}


